# ============================================================

# AireChile Analytics — Variables de entorno de ejemplo

# ============================================================

# ------------------------------------------------------------
# Configuración general
# ------------------------------------------------------------

PROJECT_NAME=AireChile Analytics
LOG_LEVEL=INFO

# ------------------------------------------------------------
# Datos SINCA
# ------------------------------------------------------------

# Archivo histórico descargado desde SINCA.

# En .env puedes cambiarlo por el nombre real de tu archivo local.

SINCA_RAW_PATH=data/raw/sinca_puente_alto_mp25_2022_2026.csv

# Reporte generado por profile_sinca.py

SINCA_REPORT_PATH=docs/reporte_columnas_sinca.md

# Archivo SINCA procesado generado por el ETL SINCA

SINCA_PROCESSED_PATH=data/processed/sinca_transformado.csv

# ------------------------------------------------------------
# Open-Meteo — Datos meteorológicos históricos
# ------------------------------------------------------------

# Para datos históricos se usa archive-api, no forecast.

OPENMETEO_BASE_URL=https://archive-api.open-meteo.com/v1/archive

# Coordenadas referenciales Puente Alto / Santiago

METEO_LATITUDE=-33.6117
METEO_LONGITUDE=-70.5758

# Rango de fechas usado para igualar el dataset SINCA

METEO_START_DATE=2022-01-01
METEO_END_DATE=2026-06-13

# Archivos meteorológicos

METEO_RAW_PATH=data/raw/open_meteo_puente_alto_2022_2026.csv
METEO_PROCESSED_PATH=data/processed/open_meteo_transformado.csv

# ------------------------------------------------------------
# Dataset final para modelo
# ------------------------------------------------------------

# Archivo resultante del merge SINCA + Open-Meteo

DATASET_MODELO_BASE_PATH=data/processed/dataset_modelo_base.csv

# ------------------------------------------------------------
# Modelo predictivo
# ------------------------------------------------------------

MODEL_DATASET_PATH=data/processed/dataset_modelo_base.csv
MODEL_OUTPUT_PATH=models/model.pkl
MODEL_METRICS_DIR=models/metrics
PREDICTION_OUTPUT_PATH=data/processed/prediccion_actual.csv

# ------------------------------------------------------------
# Coordenadas generales Santiago de Chile
# ------------------------------------------------------------

SANTIAGO_LAT=-33.4489
SANTIAGO_LON=-70.6693

# -----------------------------------------------------------
# Base de datos PostgreSQL
# Para etapas posteriores del proyecto
# ------------------------------------------------------------

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=airechile
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
